<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/Green_Stroke_Enterprises.png">
    </a>
    <h1>Mining Stats</h1>
   
  </div>
</div>
<div class="container">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Green Stroke Rigs</div>
  <div class="panel-body">
    <p>Mining Statistics</p>
  </div>

  <!-- Table -->
  <table class="table">
  <thead>
  <tr>
  <th>#</th>
  <th>IP</th>
  <th>Eth Hash</th>
  <th>Sia Hash</th>
  <th>GPU Temps</th>
  </tr>
  </thead>
  
   <tr>
    <td>1</td>
     
     <td>192.168.0.7:3333</td>
     <td><%= result[2] %></td>
     <td><%= result[4] %></td>
   </tr>

  </table>
</div>
</div>


</body>
</html>
